/* RESET STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Roboto", serif;
}

/* IMPORT FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* STYLES */

* {
  color: #cdd7d6;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: stretch;
}

select > option {
  color: black;
}

.hourly-forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 12px;
}

.hourly-forecast,
.daily-forecast {
  background-color: #1c2541db;
  border-radius: 10px;
}

.hourly-forecast {
  width: 120px;
  height: 240px;
}

.daily-forecast {
  width: 500px;
  height: 400px;
  padding-top: 20px;
}

.hourly-forecast-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.App {
  display: flex;
  flex-direction: column;
}

.air-quality {
  align-items: center;
}

.upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
}

.input-container {
  align-self: center;
}

.input-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 95%;
}

.input-container > form > *:not(.state-spacer) {
  width: 100%;
  color: #0b132b;
  font-weight: bold;
}

.hidden {
  display: none;
}

.state-spacer {
  height: 23px;
}

.current-weather-container,
.input-container,
.error-container,
.air-quality,
.future-forecast-outer-container {
  display: flex;
  margin: 20px 5% 0 5%;
  flex-direction: column;
  background-color: #1c2541eb;
  border-radius: 10px;
}

.current-weather-container,
.input-container,
.error-container,
.air-quality {
  justify-content: center;
  align-items: center;
  background-color: #1c2541eb;
  padding: 20px;
}

.current-weather-name,
.air-quality > h2,
.hourly-forecast-outer-container > h2,
.daily-forecast-outer-container > h2 {
  font-size: 2rem;
}

.air-quality > h2:nth-of-type(2) {
  font-size: 1.5rem;
}
.air-quality > h2:first-of-type {
  margin-bottom: 4px;
}

.current-weather-temp {
  font-size: 3rem;
}

.current-weather-desc {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.current-weather-desc::first-letter,
.daily-forecast > h3::first-letter {
  text-transform: uppercase;
}

.daily-forecast > h3:first-of-type {
  margin-bottom: 14px;
}

.current-weather-high-low,
.current-weather-uv,
.current-weather-sunrise-sunset {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.current-weather-vis-humidity {
  display: flex;
  flex-direction: column;
}

.future-forecast-outer-container > h2 {
  text-align: center;
  margin-top: 12px;
}

.future-forecast-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 12px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 5% 0 5%;
}

.future-forecast {
  background-color: #dedebf2e;
}

.future-forecast > * {
  text-align: center;
}


.hourly-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.daily-forecast {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-forecast-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

/* SLIDER */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1c2541;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.toggle-container > p {
  font-size: 1.2rem;
}

/* Media queries */

@media screen and (min-width: 760px) {
  .upper-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .current-weather-container, .air-quality, .input-container {
    width: 43vw;
  }

  .current-weather-container {
    margin-right: 0;
  }

  .air-quality {
    margin-left: 0;
  }

 .input-container{
    margin-right: 50vw;
    width: 43vw;
  }
    
}
